{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ config.description }}">
    {% block favicon %}
    <link rel="icon" href="{{ get_url(path="favicon.svg") }}">
    {% endblock favicon %}
    {% include "_variables.html" %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="normalize.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body class="site-page">
    {% block header %}

    <header class="site-header">
        {{ macros::render_header() }}
    </header>
    {% endblock header %}

    <main class="page-shell{% block page_shell_class %}{% endblock page_shell_class %}">
        {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}

        <div class="content text">
            {% block content %}
            <div id="features" class="heading-text">Overview</div>
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer class="site-footer">
        <small class="subtext">
            Copyright © 2026 <a href="https://www.stratoweave.org">StratoWeave Project</a> © 2026 <a href="https://www.linuxfoundation.org/">The Linux Foundation®</a>. All rights reserved.
        </small>
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        const activeItem = document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']");
        if (activeItem) {
            activeItem.classList.add("active");
        }
    }

    let currentHeading = "";
    window.onscroll = function () {
        if (!document.querySelector(".toc")) {
            return;
        }

        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
