{% extends "base.html" %}

{% block header %}
<header class="site-header">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block content %}
<div class="heading-text">{{ section.title }}</div>
<ul class="content-list">
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.date }} - {{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
