{% import "_macros.html" as macros %}
{% extends "base.html" %}

{% block header %}
<header class="site-header">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block content %}
<div class="heading-text">{{ page.title }}</div>
{% if page.description %}
<p class="page-intro">{{ page.description }}</p>
{% endif %}
{% if page.title is containing("SORESPO") %}
<p class="page-intro">SORESPO stands for SOmewhat REalistic Service Provider Orchestrator.</p>
{% endif %}
{{ page.content | safe }}
{% endblock content %}
